wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/debug.log
docker-compose.yml
